/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/*Mixins */

	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;
	}

	/* Pre-set Styles */

	.titleStyle1 {
			font-weight: bold;
			font-size: 1em;	
	}
	.titleStyle2 {
		@include border-radius(6px);
		background-color: #cdcdcd;
		color: white;
		padding: 5px;
	}
	.titleStyle3 {
		@include border-radius(3px);
		background-color: #004eb0;
		color: white;
		padding: 5px;
	}

	.genBtn1 {
		@include border-radius(8px);
		background-color: #cdcdcd;
		width: 100px;
		text-align: center;
		padding: 12px;
		margin: auto;
		cursor: pointer;
	}

	.containerStyle1 {
		border:1px solid black;
		padding: 20px;

	}

	/* Test Window Container*/


	.textTestWindow{
		max-width:60%;
		margin: auto;
		position: relative;
		top: 20px;
		padding-bottom: 20px;

		.rowContainer {
			@extend .containerStyle1;
			@include border-radius(8px);
			margin: auto;
			width: 80%;
			background: #f4f4f4;
		}

		.rowTitle {
			@extend .titleStyle1;
		}

		.warnings {
			@extend .titleStyle2;
			font-size: 14px;
			margin:4px;

			.warning {
				margin:4px;
				@extend .titleStyle3;

			}
		}

		.inputBox1 {
			padding: 4px;
			width: 50%;
			min-width: 150px;
		}

		.checkBtn {
			@extend .genBtn1;
			background-color: #ccc;

		}

		.textZone{
			/* Text Bay 1 */
			.textBay1 {
				width: 100%;
				margin:10 0px;
			}


		}

	}